@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#page-container {
    /*dit is voor de footer*/
    position: relative;
    min-height: 86.45vh;
}

#content-wrap {
    /*dit is ook voor de footer*/
    padding-bottom: 2.5rem;
}

* {
    box-sizing: border-box;
}

/* navigatiebar */

.navbar {
    overflow: hidden;
    background-color: #ffffff;
    font-family: "IBM Plex mono";
    text-align: center;
    position: relative;
    z-index: 1;
}

.icon-image {
    width: 15rem;
    height: auto;
    align-self: center;
    position: absolute;
    margin: 8.81667px;
    /*vraag er maar niet eens naar*/
    left: 0;
}

.profile-container {
    margin: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.profile-icon {
    position: relative;
    padding: 0;
    transition: all 0s ease;
}

.profile-icon img {
    width: 3rem;
}

.profile-icon:hover {
    transform: skewX(0deg);
    transition: all 0s ease;
}

.navbar a {
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 20px 2vw;
    text-decoration: none;
    transform: skewX(-25deg);
    transition: background-color 0.15s, transform 0.15s;
}

.navbar a span {
    display: inline-block;
    transform: skewX(25deg);
}

.navbar a:hover,
.navbar a:active {
    background-color: #CD4321;
    color: white;
}

.current {
    background-color: #b93d1e;
    color: #ffffff;
}

.line {
    background-color: #000000;
    height: 2px;
}




body {
    margin: 0;
}

h1 {
    margin: 50px;
    color: white;
    font-size: 3rem;
    font-family: "IBM Plex mono";
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    padding: 30px;
    font-family: "IBM Plex mono";
}

h3 {
    font-size: 1.5rem;
    font-family: "IBM Plex mono";
}

h4 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 3rem;
    font-family: "IBM Plex mono";
}

.navbar {
    overflow: hidden;
    background-color: #ffffff;
    font-family: "IBM Plex mono";
    text-align: center;
    position: relative;
}

.icon-image {
    max-width: 15rem;
    height: auto;
    align-self: center;
    position: absolute;
    margin: 8.81667px;
    left: 0;
}

.profile-icon {
    width: 3rem;
    position: absolute;
    right: 0;
}

.current {
    background-color: #a83f25;
    color: #ffffff;
}

.center-container {
    max-width: 90%;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 5% 10%;
    background-color: #DE3400;
}

header h1 {
    color: white;
}

header p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}



/* producten pagina */

.product-section {
    margin: 20px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
}

.product-side {
    width: 15vw;
}

.product {
    display: flex;
    flex-direction: row;
    border: 2px solid #000000;
    border-radius: 1vh;
    margin: 10px;
    padding: 10px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.product h3 {
    margin-top: 0;
    font-size: clamp(2px, 2vw, 25px);
    font-family: "IBM Plex mono";
}

.price {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "IBM Plex mono";
}

.order-btn {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 2vh;
    color: #fff;
    font-size: clamp(1px, 1.5vw, 15px);
    background-color: #CD4321;
    border: 2px solid #000;
    border-radius: 1vh;
    height: 10vh;
    max-height: 50px;
    max-width: 8vw;
    transition: 0.15s;
    font-family: "IBM Plex mono";
}

.order-btn:hover {
    transform: scale(1.1);
    font-size: clamp(1px, 1.8vw, 18px);
    background-color: #df5f3f;
    box-shadow: 0px 0vh 5vh #ffffff;
    transition: 0.15s;
}

img {
    width: 5vw;
    height: auto;
    display: block;
    margin: auto;
}

.left-side {
    flex-direction: column;
    flex: 1;
    margin-left: auto;
}

.right-side {
    flex-direction: column;
    flex: 1;

}


#cards {
    display: flex;
    align-items: top;
    justify-content: center;
    gap: 2%;
    padding-bottom: 50px;
    margin: auto;
}


#producten {
    margin-top: 50px;
    margin-bottom: 100px;
    flex: 1;
    margin: auto;
}

.card-contents {
    flex-direction: column;
    border: 3px solid black;
    border-radius: 10px;
    max-width: 30%;
    margin-bottom: 3rem;
}

.card-contents-txt {
    padding: 1rem;
    justify-content: center;
    text-align: center;
}

.card-contents-txt p {
    font-family: Arial, Helvetica, sans-serif;
}

.card-contents-img img {
    width: 18vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid black;
}

.card-contents button {
    margin-top: 1rem;
}

.link_button {
    align-items: center;
    border: solid 2px #000000;
    padding: 20px 60px;
    background-color: #DE3400;
    border-radius: 10px;
    margin-bottom: 0;
}

.link_button a {
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "IBM Plex mono";
    font-size: 1rem;
}

.link_button:hover {
    transition: all 0.15s ease;
    transform: scale(1.1);
}

/* contactformulier */

.contactforum {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.form_stuff {
    font-family: "IBM Plex mono";
    width: 60vw;
    max-width: 650px;
    /*Mag je wijzigen als je vindt dat t niet klopt*/
    margin: 0 auto;
    padding: 2vh;
}

.form_stuff h2 {
    text-align: center;
    margin-bottom: 5vh;
}

.invullen {
    margin-bottom: 20px;
}

.invullen label {
    display: block;
    margin-bottom: 5px;
    padding-left: 10px;
}

.invullen input[type="text"],
.invullen input[type="email"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #3a3a3a;
    border-radius: 1vh;
}

.invullen.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.invullen.row .column {
    width: 48%;
    margin-bottom: 0;
}

.invullen.bericht {
    width: 100%;
}

.invullen textarea {
    width: 100%;
    padding: 2vh;
    box-sizing: border-box;
    border: 2px solid #3a3a3a;
    border-radius: 1vh;
}

input:valid {
    background-color: #d6ffd6;
}

.submit_button {
    margin-top: 2vh;
    color: #fff;
    font-size: clamp(10px, 3vh, 25px);
    background-color: #CD4321;
    border: 2px solid #000;
    border-radius: 1vh;
    width: 100%;
    height: 10vh;
    max-height: 50px;
    transition: 0.15s;
}

.submit_button:hover {
    transform: scale(1.1);
    font-size: clamp(15px, 4vh, 30px);
    background-color: #df5f3f;
    box-shadow: 0px 0vh 5vh #ffffff;
    transition: 0.15s;
}





/* Reserveerpagina */
/* Er staan dingen dubbel in maar ik heb daar nu geen zin meer in ik fix dat morgen wel */

.left-part {
    background-color: #ffffff;
    padding: 1vh 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-part h2,
.left-part h3 {
    padding-left: 20px;
}

.right-part {
    background-color: #ffffff;
    padding: 1vh 5vw;
}

.left-part h2,
.right-part h2 {
    margin-bottom: 1vh;
}

.left-part h3,
.right-part h3 {
    margin-bottom: 0.5vh;
}

.winkelwagen-container {
    margin-bottom: 5vh;
    color: #000000;
    font-size: clamp(10px, 3vh, 25px);
    background-color: #ffffff;
    border: 2px solid #000;
    border-radius: 1vh;
    width: 100%;
    height: 20vh;
    transition: 0.15s;
}

.plekbezorging,
.tijd {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bestelknop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.invullen.column input {
    margin-top: 0.5vh;
    color: #000000;
    font-size: clamp(10px, 3vh, 25px);
    background-color: #ffffff;
    border: 2px solid #000;
    border-radius: 1vh;
    width: 100%;
    height: 10vh;
    max-height: 50px;
    transition: 0.15s;
}

.invullen.column input::placeholder {
    text-align: center;
}

.invullen.column input[type="time"] {
    width: 100%;
    text-align: center;
}

.invullen.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.invullen.row .column {
    width: 46%;
    margin-bottom: 10px;
}

.order_button {
    align-items: center;
    margin-top: 2vh;
    color: #fff;
    font-size: clamp(10px, 3vh, 25px);
    background-color: #CD4321;
    border: 2px solid #000;
    border-radius: 1vh;
    width: 90%;
    height: 10vh;
    max-height: 50px;
    transition: 0.15s;
}

.order_button:hover {
    transform: scale(1.05);
    font-size: clamp(15px, 4vh, 30px);
    background-color: #df5f3f;
    box-shadow: 0px 0vh 5vh #ffffff;
    transition: 0.15s;
}

.meer-reserveren {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.more-products-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    font-size: clamp(10px, 3vh, 25px);
    background-color: #CD4321;
    border: 2px solid #000;
    border-radius: 1vh;
    width: 30vw;
    margin: 0 30vw;
    max-height: 50px;
    transition: 0.15s;
}

.bekijk-producten-button:hover {
    transform: scale(1.05);
    font-size: clamp(15px, 4vh, 30px);
    background-color: #df5f3f;
    box-shadow: 0px 0vh 5vh #ffffff;
    transition: 0.15s;
}

.kalender-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.arrow-button {
    margin: 10px;
    color: #000000;
    font-size: clamp(10px, 3vh, 25px);
    background-color: transparent;
    border: none;
    border-radius: 1vh;
    width: 10vw;
    max-width: 80px;
    height: 10vh;
    max-height: 50px;
    transition: 0.15s;
}

.arrow-button:hover {
    background-color: rgba(255, 220, 212, 0.5);
    box-shadow: 0px 0vh 5vh #ffffff;
    transition: 0.15s;
}





/* login */
/* nogmaals veel hergebruikte elementen */

.box {
    border: 2px solid#000;
    border-radius: 1vh;
    margin: 0 15vw 15vw 15vw;
    height: auto;
    width: 70vw;
}

.profile-container-2 {
    width: 8vw;
    margin: 0 31vw;
}

.profile-icon-2 {
    position: relative;
    padding: 0;
    transition: all 0s ease;
    margin-top: 3vh;
}

.profile-icon-2 img {
    width: 8vw
}

.form-input {
    padding: 0 10px;
    margin: 0 10vw;
    color: #000000;
    font-size: clamp(10px, 3vh, 25px);
    border: 2px solid #000;
    border-radius: 1vh;
    width: 50vw;
    height: 10vh;
    max-height: 50px;
    transition: 0.15s;
}

.form-input::placeholder {
    text-align: center;
}

.login_button {
    margin: 2vh 10vw;
    color: #fff;
    font-size: clamp(10px, 3vh, 25px);
    background-color: #9ECE62;
    border: 2px solid #000;
    border-radius: 1vh;
    width: 50vw;
    height: 10vh;
    max-height: 50px;
    transition: 0.15s;
}

.login_button:hover {
    transform: scale(1.05);
    font-size: clamp(15px, 4vh, 30px);
    background-color: #abd37a;
    box-shadow: 0px 0vh 5vh #ffffff;
    transition: 0.15s;
}

.registerLink {
    font-size: clamp(5px, 3vh, 15px);
    text-align: center;
}





/* Profielpagina */

.profiel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.body-content {
    display: flex;
    flex: 1;
}

.left-part-2,
.right-part-2 {
    flex: 1;
    height: 85vh;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    z-index: 0;
}

.left-part-2 {
    background-color: #ffffff;
    padding: 1vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-part-2 h2,
.left-part-2 h3 {
    padding-left: 20px;
}

.right-part-2 {
    background-color: #ffffff;
    padding: 1vh 5vw;
    margin-top: 10vh;
}

.left-part-2 h2,
.right-part-2 h2 {
    margin-bottom: 1vh;
}

.left-part-2 h3,
.right-part-2 h3 {
    margin-bottom: 0.5vh;
}

.profile-icon-3 {
    position: relative;
    padding: 0;
}

.profile-icon-3 img {
    width: 15vw;
}

.bevestigknop {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.confirm_button {
    align-items: center;
    margin-top: 2vh;
    color: #000000;
    font-size: clamp(10px, 3vh, 25px);
    background-color: #9ECE62;
    border: 2px solid #000;
    border-radius: 1vh;
    width: 90%;
    height: 10vh;
    max-height: 50px;
    transition: 0.15s;
}

.confirm_button:hover {
    transform: scale(1.05);
    font-size: clamp(15px, 4vh, 30px);
    background-color: #abd37a;
    box-shadow: 0px 0vh 5vh #ffffff;
    transition: 0.15s;
}





/* footer */

footer {
    bottom: 0;
    height: 1.5vh;
    background-color: #1A1A1A;
    color: #FFFFFF;
    padding: 25px 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: clamp(10px, 0.5vh, 25px);
}

.belangrijk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.meuk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.meuk a {
    color: #FFFFFF;
    text-decoration: none;
}





@media (width <=960px) {

    #cards {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
    }

    .card-contents {
        max-width: 100%;
        margin: 0rem 1rem;
    }

    .card-contents-img img {
        width: 35vw;
        height: 30vw;
    }

}

@media (width <=480px) {

    header {
        padding: 1rem;
        margin-bottom: 4rem;
    }

    nav {
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        margin: auto;
        padding: 1rem;
    }

    nav a {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    nav .icon-image {
        justify-content: center;
        margin: auto;
        margin-bottom: 1rem;
    }
}